
main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

#about_us {
    display: grid;
    grid-template-columns: repeat(3, 28rem);
    justify-content: center;

}

.about_us > section {
    display: contents;
}