
main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.about_us {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 28rem);
    justify-content: center;
    /* gap: 32px; */
}

.about_us > section {
    display: contents;
}