.pets-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 4rem;
    padding: 2rem 8rem 0 8rem;
}

.item-list {
    display: flex;
    gap: 1rem;
}

.photo-btn-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-card {
    height: 16rem;
    width: 16rem;
    border: 1px solid #000000;
    background: linear-gradient(to bottom right,
    transparent 49.5%, #000 50%, transparent 50.5%),
    linear-gradient(to top right,
    transparent 49.5%, #000 50%, transparent 50.5%);
}

.btn-pet-detail {
    width: 14rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0 0 0;
    background-color: #fddb72;
    color: #000000;
    text-align: center;
}

.pet-profile-text {
    color: white;
    font-size: 1rem;
    text-align: justify;
    margin: 0 0 0 1rem;
}

