.card {
    margin-top: 4rem;
    /* padding: 0px 0rem 0; */
    justify-items: center;
    /* justify-content: space-evenly; */
}

.photo-card {
    height: 27rem;
    width: 22rem;
    border: 2px solid #000000;
    /* margin: 0rem; */
    background: linear-gradient(to bottom right,
        transparent 49.5%, #000 50%, transparent 50.5%),
        linear-gradient(to top right,
        transparent 49.5%, #000 50%, transparent 50.5%);
}

.text-card {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    margin: 3rem 0;
}