/* ─── FAQ ─────────────────────────────────────────────────────────── */
.box-faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    flex: 1;
}

.faqs {
    width: 70%;
}

.faq-group {
    margin-bottom: 20px;
    background: #c0c5c2;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-question {
    display: block;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
    text-align: center;

}

input[type="checkbox"] {
    display: none;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background: #c0c5c2;
    padding: 0 15px;
}

.faq-question:has(input:checked) ~ .faq-answer {
    max-height: 300px;
    padding: 15px;
}
