main {
    display: flex;
    align-items: center;
}
.box-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.faq-group {
    margin: 0.8rem 0;
    background: #bbdcbf;
    border-radius: 8px;
    /* overflow: hidden; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-question {
    display: block;
    cursor: pointer;
    padding: 1rem;
    font-weight: bold;
    text-align: center;

}

input[type="checkbox"] {
    display: none;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background: #f7f7f7;
    padding: 0 1rem;
}

.faq-question:has(input:checked) ~ .faq-answer {
    max-height: 300px;
    padding: 1rem;
}
