body {
    margin: 0;
    min-height: 100vh;      /* Ocupa toda la altura de la ventana */
    display: flex;
    flex-direction: column; /* Coloca main arriba y footer abajo */
}
.footer {
    display: flex;
    flex-direction: column; /* Apila botones arriba y descripci칩n abajo */
    align-items: center;    /* Centra todo horizontalmente */
    gap: 15px;              /* Espacio entre los botones y el texto inferior */

    width: 100%;
    background-color: #d3d3d3;
    border-top: 1px solid #000;
    padding: 20px 50px;
    margin-top: auto;       /* Lo empuja al final de la pantalla */
    box-sizing: border-box;
}
.boton-footer{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 20px;
}
.boton:nth-child(2) {
    margin-left: auto;
}
.boton {
    background-color: #fff;
    border: 1px solid #000;
    padding: 8px 15px;
    font-size: 12px;
}
.footer-descripcion {
    font-size: 10px;        /* M치s peque침o, como en el boceto */
    text-align: center;
    color: #333;            /* Un gris oscuro para que se note que es pie de p치gina */
}