.footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #bbdcbf;
    padding-top: 1rem;
}

.footer-left,
.footer-center,
.footer-right,
.footer-legal {
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer-center {
    text-align: center;
    font-size: 1rem;
}

#book-appointment {
    width: 100%;
    height: 4rem;
}

.footer-legal {
    justify-content: right;
    padding: 0 5rem 0.5rem 0;
    font-size: 0.6em;
}