/* =========================
   HEADER (banda superior)
========================= */
.site-header {
    background: var(--header-bg);
    height: var(--header-h);
    display: flex;
    align-items: center;
    padding: 50px
}

.header-inner {
    width: 100%;
    padding: 0 var(--pad-x);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 22px;
}

.logo {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #f4b8bc;
    position: relative;
    flex: 0 0 auto;
}

/* “X” del logo */
.logo::before,
.logo::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 78px;
    height: 2px;
    background: #333;
    transform-origin: center;
}

.logo::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.logo::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.brand-title {
    font-size: 34px;
    letter-spacing: 1px;
    font-weight: 500;
}

/* Menú botones */
.top-nav {
    display: flex;
    align-items: center;
    gap: var(--btn-gap);
}

.nav-btn {
    width: var(--btn-w);
    height: var(--btn-h);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    background: var(--card);
    font-size: 14px;
    letter-spacing: 1px;
}