body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33c661;
    box-shadow: 0 10px 20px -10px rgba(40, 164, 80, 0.8);
    height: 80px;
    padding: 0 2em 0 2em;
}

.brand-group {
    display: flex;
    align-items: center;
    gap: 10em;
}

.ventana_logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #28a450;
    background: white;
    flex-shrink: 0;
}

#logo {
    width: 180%;
    height: auto;
    transform: translate(-22%, -20%);
}

#name {
    color: white;
    font-family: sans-serif;
}


.navbar {
    height: 100%;
}

.navbar ul {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: stretch;
}

.navbar li {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 2em;
    cursor: pointer;
    font-family: sans-serif;
    color: #fdfdfd;
    transition: all 0.3s;
}

.navbar li:hover {
    background: #e0e0e0;
    color: #151515;
}