header {
    background: #bbdcbf;
    width: auto;
    align-items: center;
    padding: 2rem;
}

nav {
    display: flex;
    align-items: center;
}

a {text-decoration: none;}

.header-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 2em;
}

.logo {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background: #fddb72;
    position: relative;
    flex: 0 0 auto;
}

/* “X” del logo */
.logo::before,
.logo::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6em;
    height: 0.1em;
    background: #333;
    transform-origin: center;
}

.logo::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.logo::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.brand-title {
    font-size: 2rem;

    color: #009688;
}
