/* =========================
   MAIN (zona central)
========================= */
main {
    display: flex;
    justify-content: center;
    background-color: #90c984;
}

.hero {
    width: 62%;
    height: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #90c984;
}

.hero-image {
    width: 58rem;
    height: 28rem;
    position: relative;
    outline: 1px solid;
    border: 1px solid #000000;
    margin: 3rem 0;
    background: linear-gradient(to bottom right,
    transparent 49.5%, #000 50%, transparent 50.5%),
    linear-gradient(to top right,
    transparent 49.5%, #000 50%, transparent 50.5%);
}

/* “X” grande en la imagen */
/* 
.hero-image::before, .hero-image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 63.7em;
    height: 0.1em;
    background: #000000;
    transform-origin: center;
}

.hero-image::before {
    transform: translate(-50%, -50%) rotate(25.5deg);
}

.hero-image::after {
    transform: translate(-50%, -50%) rotate(-25.5deg);
} */

/* Texto bajo imagen (blanco como en la maqueta) */
.hero-text {
    color: #fefefe;
    width: 58rem;
    font-size: 1.3em;
    line-height: 1.5;
}