body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #a3a3a3;
    font-family: Arial, sans-serif;
}

.contenedor-ficha{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
    row-gap: 60px;
    margin: 0 auto;
    padding: 100px 20px 50px 20px;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
}

.item-opinion {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.columna-izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.foto-mini {
    width: 150px;
    height: 150px;
    border: 1px solid #777;
    background-color: #ccc;
}

.foto-mini img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boton-mascota {
    width: 100%;
    background-color: #d9d9d9;
    border: none;
    padding: 5px 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}


@media (max-width: 950px) {
    .contenedor-ficha {
        column-gap: 50px;
        padding-top: 80px;
    }
}

@media (max-width: 700px) {
    .contenedor-ficha {
        grid-template-columns: 1fr;
        justify-items: center;
        padding-top: 60px;
    }
}