/* ─── Login ───────────────────────────────────────────────────────── */
body {
    background-color: #876a6a;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #969e99;
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.login-inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 3em;
}

.login-inputs input {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
}

.login-inputs input:focus {
    border-color: #5d4a4a;
    background-color: #f0f0f0;
}

#login-submit {
    margin-top: 2rem;
    width: 40%;
    align-self: flex-end;
    padding: 15px;
    background-color: #5d4a4a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

#login-submit:hover {
    background-color: #4a3b3b;
}