/* ─── Login ───────────────────────────────────────────────────────── */
main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #fddb72;
    height: 38rem;
    width: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    /* padding: 1rem; */
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.login-inputs {
    display: flex;
    flex-direction: column;
    width: 32rem;
    gap: 2em;
}

.login-inputs input {
    padding: 1rem;
    font-size: 1rem;
    background-color: #bbdcbf;
    border-radius: 8px;
    border-width: 0;
    transition: border-color 0.1s, background-color 0.1s;
}

.login-inputs input:focus {
    background-color: #e4e4e4;
}

#login-submit {
    margin-top: 2rem;
    width: 40%;
    align-self: flex-end;
    padding: 15px;
    background-color: #90c984;
    color: #000000;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

#login-submit:hover {
    background-color: #6bffb5;
    color: white;
}

.login-inputs input::placeholder {
    color: #ffffff;
}