/* ─── Pet Profile ─────────────────────────────────────────────────── */
body {
    justify-content: center;
    align-items: center;
}

.dog-card {
    display: flex;
    border: 1px solid #000;
    padding: 20px;
    width: 700px;
}

.image {
    flex: 1;
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.dog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.datos-columna {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}

.caja-texto {
    background-color: #cac5c5;
    border: 1px solid #000;
    padding: 8px;
}