/* ─── Pet Profile ─────────────────────────────────────────────────── */

.dog-profile {
    display: flex;
    align-items: center;
}

.photo-card {
    height: 32rem;
    width: 18rem;
    border: 2px solid #000000;
    margin: 6% 5rem;
    background: linear-gradient(to bottom right,
            transparent 49.5%, #000 50%, transparent 50.5%),
        linear-gradient(to top right,
            transparent 49.5%, #000 50%, transparent 50.5%);
}

.column-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

.box-text {
    background-color: #fddb72;
    border-radius: 0.5rem;
    border: 1px solid #000;
    width: 100%;
    min-width: 500px;
    padding: 8px;
    text-align: justify;
}