/* ─── Reset ──── */
/* ─── Reset ──── */
/* ─── Reset ──── */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

/* --- Estilos usados en general ---*/
html,
body {
    height: 100%;
    width: 100%;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #90c984;
}

body.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* el contenido crece y empuja el footer */
main{
  flex: 1 1 auto;
  display: flex;
}

.btn {
    display: flex;
    width: 8rem;
    align-items: center;
    justify-content: center;
    color: #10946d;
    background-color: #fdfeff;
    font-size: 1rem;
    font-weight: 700;
    margin: 0px 2rem 0;
    border-radius: 0.2em;
    text-decoration: none;
}

.btn:hover {
    background: #fddb72;
}

















