<div class="item-list">
    <div class="photo-btn-column">
        <a href="pet_profile.html">
            <div class="photo-card" aria-label="Foto de mascota para adoptar"></div>
        </a>
        <a class="btn-pet-detail" href="pet_profile.html">LOREM IPSUM</a>
    </div>
    <div class="pet-profile-text">
        <ul>
            <li>Morbi eget arcu ex. Sed at est tempor, aliquam justo a,
            <li>consectetur tellus. Aliquam aliquam suscipit pretium. 
            <li>Proin sollicitudin urna sit amet luctus mattis.
            <li>Quisque maximus tincidunt nisl eget fermentum. 
            <li>Nullam rutrum fermentum ipsum id accumsan. 
            <li>Pellentesque posuere tempor velit non porta. 
        </ul>

    </div>
</div>