<section class="dog-card">

  <figure class="image">
    <img src="img/img.png" alt="Imagen de la mascota" class="dog-image">
  </figure>

  <div class="datos-columna">
    <div class="caja-texto">Lorem ipsum dolor sit amet, consectetur</div>
    <div class="caja-texto">Lorem ipsum dolor sit amet, consectetur</div>
    <div class="caja-texto">Lorem ipsum dolor sit amet, consectetur</div>
    <div class="caja-texto">Lorem ipsum dolor sit amet, consectetur</div>
    <div class="caja-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur.
    </div>
  </div>

  <figure class="image">
    <img src="img/img.png" alt="Imagen de la mascota" class="dog-image">
  </figure>

</section>