<div class="login-box">
    <form class="login-inputs">
        <input type="text"     name="user"       id="login-name"       placeholder="Usuario"              required>
        <input type="email"    name="email"       id="login-email"      placeholder="Correo electrónico"   required>
        <input type="tel"      name="phone"       id="login-phone"      placeholder="Teléfono"             required>
        <input type="password" name="password"    id="login-password"   placeholder="Contraseña"           required>
        <input type="password" name="repassword"  id="login-repassword" placeholder="Repetir contraseña"   required>
        <button type="submit"  id="login-submit">Acceder</button>
    </form>
</div>