<input type="checkbox" id="nav-toggle" class="nav-toggle">
<div class="header-inner">
    <div class="grid">
        <div class="left">
            <div class="brand">
                <a class="logo" aria-label="Logo" href="index.html"></a>
            </div>
        </div>
        <div class="right-top">
            <a href="index.html">
                <div class="brand-title">LOREM IPSUM</div>
            </a>
        </div>
        <div class="right-bottom socials">
            <div class="social-ico" role="img" aria-label="Icono de red social"></div>
            <div class="social-ico" role="img" aria-label="Icono de red social"></div>
            <div class="social-ico" role="img" aria-label="Icono de red social"></div>
            <div class="social-ico" role="img" aria-label="Icono de red social"></div>
        </div>
    </div>
    <nav class="main-nav">
    </nav>
    <label for="nav-toggle" class="hamburger-btn" aria-label="Abrir menú">
        <span></span>
        <span></span>
        <span></span>
    </label>
</div>
<label for="nav-toggle" class="nav-overlay" aria-hidden="true"></label>
