<div class="layout">
  <aside class="sidebar" aria-label="Filtros">
    <h2 class="sidebar-title">LOREM</h2>

    <div class="sidebar-group">
      <div class="filter-btn">Ipsum</div>
      <div class="filter-btn">Dolor</div>
      <div class="filter-btn">Sit</div>
      <div class="filter-btn">Amet</div>
      <div class="filter-btn">Pluribus</div>
    </div>


  </aside>

  <main class="content">
    <!-- aquí van tus tarjetas/listado -->
  </main>
</div>

<section class="pets-list">
  <div xlu-include-file="templates/template_adoption_item.html"></div>
  <div xlu-include-file="templates/template_adoption_item.html"></div>
  <div xlu-include-file="templates/template_adoption_item.html"></div>
  <div xlu-include-file="templates/template_adoption_item.html"></div>
</section>
