        <div class="footer-inner">
            <div class="footer-left">
                <a class="footer-btn" href="#">LOREM IPSUM</a>
                <a class="footer-btn" href="#">LOREM IPSUM</a>
            </div>

            <div class="footer-center">
                <div class="footer-center-title">Ut enim ad minima veniam, quis nostrum</div>
                <div class="footer-center-subtitle">exercitationem ullam corporis</div>
            </div>

            <div class="footer-right">
                <a class="footer-btn" href="#">LOREM IPSUM</a>
                <a class="footer-btn" href="#">LOREM IPSUM</a>
            </div>
            <div></div>
            <div></div>
            <div class="footer-legal">Sed ut perspiciatis unde omnis iste natus error</div>
        </div>