<section class="dog-profile">
  
    <div class="photo-card" role="img" aria-label="Foto de una mascota"></div>

  <div class="column-data">
    <div class="box-text">Lorem ipsum dolor sit amet, consecteturUt enim ad
      minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</div>
    <div class="box-text">Lorem ipsum dolor sit amet, consectetur Ut enim ad
      minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</div>
    <div class="box-text">Lorem ipsum dolor sit amet, consecteturUt enim ad
      minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</div>
    <div class="box-text">Lorem ipsum dolor sit amet, consecteturUt enim ad
      minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</div>
    <div class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur.
    </div>
  </div>

    <div class="photo-card" role="img" aria-label="Foto de una mascota"></div>

</section>