        <div class="footer">
            <div class="footer-left">
                <a class="btn" href="#legal">SECULAE</a>
                <a class="btn" href="#stories">SECULORUM</a>
            </div>

            <div class="footer-center">
                <a class="btn" id="book-appointment" href="#schedule">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</a>
            </div>

            <div class="footer-right">
                <a class="btn" href="#faq">DOMINAE</a>
                <a class="btn" href="#contact_us">PLURIBUS</a>
            </div>
            <div></div>
            <div></div>
            
            <div class="footer-legal">
                Sed ut perspiciatis unde omnis iste natus humanum
            </div>
            
        </div>