
<div class="header-inner">
    <div class="grid">
        <div class="left">
            <div class="brand">
                <a class="logo" aria-label="Logo" href="index.html"></a>
            </div>
        </div>
        <div class="right-top">
            <a href="index.html">
                <div class="brand-title">LOREM IPSUM</div>
            </a>
        </div>
        <div class="right-bottom socials">
            <div class="social-ico" role="img" aria-label="Icono de red social"></div>
            <div class="social-ico" role="img" aria-label="Icono de red social"></div>
            <div class="social-ico" role="img" aria-label="Icono de red social"></div>
            <div class="social-ico" role="img" aria-label="Icono de red social"></div>
        </div>
    </div>
    <nav>
        <a class="btn" href="#home">LOREM</a>
        <a class="btn" href="#about_us">DOLOR</a>
        <a class="btn" href="#adoption_list">IPSUM</a>
        <a class="btn" href="#schedule">SIT</a>
        <a class="btn" href="#login">AMET</a>
    </nav>
</div>
