<div class="contact">
    <div class="text-wrapper">
        <ul class="contact-text">
            <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </li>
            <li>
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum
            </li>
            <li>
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            </li>
            <li>
            labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet,
            </li>
            <li>
            consectetur adipiscing elit.
            </li>

    </div>

    <section xlu-include-file="templates/template_card.html"></section>
</div>