<div class="box-faq">
        <div xlu-include-file="templates/template_faq_item.html"></div>
        <div xlu-include-file="templates/template_faq_item.html"></div>
        <div xlu-include-file="templates/template_faq_item.html"></div>
        <div xlu-include-file="templates/template_faq_item.html"></div>
        <div xlu-include-file="templates/template_faq_item.html"></div>
        <div xlu-include-file="templates/template_faq_item.html"></div>
        <div xlu-include-file="templates/template_faq_item.html"></div>
        <div xlu-include-file="templates/template_faq_item.html"></div>
        <div xlu-include-file="templates/template_faq_item.html"></div>
        <div xlu-include-file="templates/template_faq_item.html"></div>
</div>