<div class="login-box">
    <form class="login-inputs">
        <input type="text" name="name" id="login-name" placeholder="Excepteur sint occaecat cupidatat non proident" required>

        <input type="email" name="email" id="login-email" placeholder="Duis aute irure dolor" required>

        <input type="password" name="password" id="login-password" placeholder="est laborum" required>
        
        <input type="password" name="repassword" id="login-repassword" placeholder="est laborum" required>

        <button type="submit" id="login-submit">Nostrud exercitation</button>
    </form>
</div>