<section class="calendar">
        <div class="grid-calendar">
                <div class="cell">lorem</div>
                <div class="cell">ipsum</div>
                <div class="cell">dolor</div>
                <div class="cell">sit</div>
                <div class="cell">amet</div>
                <div class="cell">dolor</div>
                <div class="cell">sit</div>

                <div class="cell">lorem</div>
                <div class="cell">ipsum</div>
                <div class="cell">dolor</div>
                <div class="cell">sit</div>
                <div class="cell">amet</div>
                <div class="cell">dolor</div>
                <div class="cell">sit</div>

                <div class="cell">lorem</div>
                <div class="cell">ipsum</div>
                <div class="cell">dolor</div>
                <div class="cell">sit</div>
                <div class="cell">amet</div>
                <div class="cell">dolor</div>
                <div class="cell">sit</div>

                <div class="cell">lorem</div>
                <div class="cell">ipsum</div>
                <div class="cell">dolor</div>
                <div class="cell">sit</div>
                <div class="cell">amet</div>
                <div class="cell">dolor</div>
                <div class="cell">sit</div>

                <div class="cell">lorem</div>
                <div class="cell">ipsum</div>
                <div class="cell">dolor</div>
                <div class="cell">sit</div>
                <div class="cell">amet</div>
                <div class="cell">dolor</div>
                <div class="cell">sit</div>

        </div>
</section>