        <div class="footer">
            <div class="footer-left">
                <a class="btn" href="legal.html">SECULAE</a>
                <a class="btn" href="stories.html">SECULORUM</a>
            </div>

            <div class="footer-center">
                <a class="btn" id="book-appointment" href="schedule.html">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</a>
            </div>

            <div class="footer-right">
                <a class="btn" href="faq.html">DOMINAE</a>
                <a class="btn" href="contact_us.html">PLURIBUS</a>
            </div>
            <div></div>
            <div></div>
            
            <div class="footer-legal">
                Sed ut perspiciatis unde omnis iste natus humanum
            </div>
            
        </div>