rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create: if true;
      allow update: if true;
      allow delete: if false;
    }

    match /bookings/{bookingId} {
      allow read, create, update, delete: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
