<div class="adoption-page-wrapper">

  @if (esAdmin) {
    <div class="admin-container-spacing">
      <app-admin-panel></app-admin-panel>
    </div>
  }

  <div class="layout">
    <app-filter (filtrosCambiados)="aplicarFiltros($event)"></app-filter>

    <section class="pets-list">
      <div class="results-count" id="results-count">
        Mostrando {{ listaFiltrada().length }} resultados
      </div>

      <div id="pets-list">
        @for (mascota of listaFiltrada(); track mascota.id) {

          <app-card-animal
            [mascota]="mascota"
            [esAdmin]="esAdmin">
          </app-card-animal>

        } @empty {
          <div class="no-results">
            <p>No se encontraron mascotas con estos filtros.</p>
          </div>
        }
      </div>
    </section>
  </div>
</div>
