        <div class="footer">
            <div class="footer-left">
                <a class="btn" href="#legal"></a>
                <a class="btn" href="#stories"></a>
            </div>

            <div class="footer-center">
                <a class="btn" id="book-appointment" href="#schedule"></a>
            </div>

            <div class="footer-right">
                <a class="btn" href="#faq"></a>
                <a class="btn" href="#contact_us"></a>
            </div>
        </div>
        <div class="footer-legal">
            
        </div>