<section class="dog-profile">
  <div class="profile-carousel">
    <button class="profile-carousel-btn profile-carousel-prev"><i class="bi bi-arrow-left"></i></button>
    <div class="profile-carousel-track-wrapper">
      <div class="profile-carousel-track"></div>
    </div>
    <button class="profile-carousel-btn profile-carousel-next"><i class="bi bi-arrow-right"></i></button>
  </div>
  <div class="column-data">
    <button class="btn-back" onclick="history.back()"><i class="bi bi-arrow-left"></i> Volver</button>
    <div class="box-text"></div>
    <div class="box-text"></div>
    <div class="box-text"></div>
    <div class="box-text"></div>
    <div class="box-text"></div>
  </div>
</section>