<footer class="footer-wrapper">
  <div class="footer">
    <div class="footer-left">
      @for (link of leftLinks; track link.name) {
        <a [routerLink]="link.url" class="btn secondary">
          {{ link.name }}
        </a>
      }
    </div>

    <div class="footer-center">
      @if (centerLink(); as link) {
        <a [routerLink]="link.url" class="btn primary">
          {{ link.name }}
        </a>
      } @else {

      }
    </div>

    <div class="footer-right">
      @for (link of rightLinks; track link.name) {
        <a [routerLink]="link.url" class="btn secondary">
          {{ link.name }}
        </a>
      }
    </div>
  </div>

  <div class="footer-legal">
    <p>{{ legalText }}</p>
  </div>
</footer>
