<footer class="footer-wrapper">
  <div class="footer">
    <div class="footer-left">
      <a
        *ngFor="let link of leftLinks"
        class="btn footer-btn"
        [routerLink]="link.url"
      >
        {{ link.name }}
      </a>
    </div>

    <div class="footer-center">
      <a
        class="btn footer-btn footer-btn-center"
        [routerLink]="centerLink.url"
      >
        {{ centerLink.name }}
      </a>
    </div>

    <div class="footer-right">
      <a
        *ngFor="let link of rightLinks"
        class="btn footer-btn"
        [routerLink]="link.url"
      >
        {{ link.name }}
      </a>
    </div>
  </div>

  <div class="footer-legal">
    {{ legalText }}
  </div>
</footer>
